<!DOCTYPE html>
<html>

<head>

    <title>DSA Labs</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="labs-container">

    <h1>

        🧪 DSA Structures Demonstration

    </h1>

    <p>

        Explore how each Data Structure
        and Algorithm works inside AlgoVision.

    </p>

    <div class="labs-grid">

        <a href="/queue-demo" class="lab-btn">
            📥 Queue
        </a>

        <a href="/hashmap-demo" class="lab-btn">
            🔐 HashMap
        </a>

        <a href="/bst-demo" class="lab-btn">
            🌳 BST
        </a>

        <a href="/heap-demo" class="lab-btn">
            🚀 Heap
        </a>

        <a href="/graph-demo" class="lab-btn">
            🌍 Graph
        </a>

        <a href="/dijkstra-demo" class="lab-btn">
            🛣 Dijkstra
        </a>

        <a href="/dp-demo" class="lab-btn">
            🧠 Dynamic Programming
        </a>

    </div>

</div>

</body>

</html>