<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
    >

    <title>ALGO Home</title>

    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
    >

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="main-layout">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <div class="sidebar-logo">

            ALGO 🚀

        </div>

        <a href="/home"><button>🏠 Home</button></a>

        <a href="/cart"><button>🛒 Cart</button></a>

        <a href="/wishlist"><button>❤️ Wishlist</button></a>

        <a href="/profile"><button>👤 Profile</button></a>

        <a href="/recommendations"><button>🤖 AI</button></a>

        <a href="/analytics"><button>📊 Analytics</button></a>

        <a href="/live-tracking"><button>🚚 Live</button></a>

        <a href="/chatbot"><button>💬 Support</button></a>

        <a href="/inventory"><button>📦 Inventory</button></a>

        <a href="/prediction"><button>🧠 AI ETA</button></a>

        <a href="/route-optimizer"><button>🌍 Route</button></a>

        <a href="/fraud-detection"><button>🚨 Fraud</button></a>

        <a href="/admin"><button>🧾 Admin</button></a>

        <a href="/jwt-login"><button>🔐 JWT</button></a>

        <a href="/maps"><button>🗺️ Maps</button></a>

        <a href="/realtime"><button>⚡ LiveSocket</button></a>

        <a href="/my-orders"><button>📦 My Orders</button></a>
<hr style="margin:15px 0; opacity:0.3;">

<div
style="
color:white;
text-align:center;
font-weight:bold;
margin-bottom:10px;
"
>

    DSA LABS 🧪

</div>

<a href="/queue-demo">

    <button>

        📥 Queue

    </button>

</a>
<a href="/hashmap-demo">

    <button>

        🔐 HashMap

    </button>

</a>

<a href="/bst-demo">

    <button>

        🌳 BST

    </button>

</a>

<a href="/heap-demo">

    <button>

        🚀 Heap

    </button>

</a>

<a href="/graph-demo">

    <button>

        🌍 Graph

    </button>

</a>

<a href="/dijkstra-demo">

    <button>

        🛣 Dijkstra

    </button>

</a>

<a href="/dp-demo">

    <button>

        🧠 DP

    </button>

</a>
    </div>

    <!-- MAIN CONTENT -->

    <div class="main-content">

        <!-- NAVBAR -->

        <div class="navbar">

            <div class="logo">

                ALGO

            </div>

            <input
            type="text"
            id="searchInput"
            placeholder="Search products..."
            onkeyup="searchProducts()"
            >

        </div>


        <!-- HERO -->

        <section
        class="hero-section"
        id="heroSection"
        >

            <div class="hero-content">

                <h1>

                    Smart Logistics
                    Powered by DSA 🚀

                </h1>

                <p>

                    Intelligent delivery platform
                    optimized using Queue,
                    Heap, Graph, Dijkstra
                    and Dynamic Programming.

                </p>

                <button>

                    Explore Deliveries

                </button>

            </div>

        </section>


        <!-- PRODUCTS -->

        <section class="products">
<h2
id="noResults"
style="
display:none;
color:white;
text-align:center;
font-size:32px;
margin-top:40px;
"
>

    No Results Found ❌

</h2>
            <a href="/product/medicine" class="card-link">

                <div class="card" data-name="medicine">

                    <img
                    src="{{ url_for('static', filename='images/medicine.jpg') }}"
                    >

                    <h3>

                        Medicine Kit

                    </h3>

                    <p>

                        Emergency Delivery

                    </p>

                    <button>

                        View Product

                    </button>

                </div>

            </a>


            <a href="/product/watch" class="card-link">

                <div class="card" data-name="watch">

                    <img
                    src="{{ url_for('static', filename='images/watch.jpg') }}"
                    >

                    <h3>

                        Luxury Watch

                    </h3>

                    <p>

                        VIP Delivery

                    </p>

                    <button>

                        View Product

                    </button>

                </div>

            </a>


            <a href="/product/grocery" class="card-link">

                <div class="card" data-name="grocery">

                    <img
                    src="{{ url_for('static', filename='images/grocery.jpg') }}"
                    >

                    <h3>

                        Grocery Pack

                    </h3>

                    <p>

                        Daily Essentials

                    </p>

                    <button>

                        View Product

                    </button>

                </div>

            </a>


            <a href="/product/electronics" class="card-link">

                <div class="card" data-name="electronics">

                    <img
                    src="{{ url_for('static', filename='images/electronics.jpg') }}"
                    >

                    <h3>

                        Electronics Kit

                    </h3>

                    <p>

                        Fragile Delivery

                    </p>

                    <button>

                        View Product

                    </button>

                </div>

            </a>

            <a href="/product/food" class="card-link">

    <div class="card" data-name="food">

        <img
        src="{{ url_for('static', filename='images/food.jpg') }}"
        >

        <h3>

            Food Package

        </h3>

        <p>

            Fast Delivery

        </p>

        <button>

            View Product

        </button>

    </div>

</a>

        </section>

    </div>

</div>


<script>

function searchProducts() {

    let input = document
        .getElementById("searchInput")
        .value
        .toLowerCase();

    let cards = document
        .getElementsByClassName("card");

    let hero = document
        .getElementById("heroSection");

    let noResults = document
        .getElementById("noResults");

    let found = false;


    for (let i = 0; i < cards.length; i++) {

        let product = cards[i]
            .getAttribute("data-name");

        if (product.includes(input)) {

            cards[i]
            .parentElement
            .style.display = "block";

            found = true;
        }

        else {

            cards[i]
            .parentElement
            .style.display = "none";
        }
    }


    if (input.length > 0) {

        hero.style.display = "none";
    }

    else {

        hero.style.display = "flex";
    }


    if (!found && input.length > 0) {

        noResults.style.display = "block";
    }

    else {

        noResults.style.display = "none";
    }
}

</script>

</body>

</html>