<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
    >

    <title>

        Live Tracking

    </title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>
<div class="notification">

    🚚 Live Tracking Active

</div>
    <!-- NAVBAR -->

    <div class="navbar">

        <div class="logo">

            ALGO 🚀

        </div>

    </div>


    <!-- TRACKING SECTION -->

    <section class="tracking-section">

        <h1>

            Live Order Tracking 🚚

        </h1>


        {% for order in orders %}

        <div class="tracking-card">

            <h2>

                {{ order[2] }}

            </h2>

            <p>

                <strong>Customer:</strong>

                {{ order[1] }}

            </p>

            <p>

                <strong>Destination:</strong>

                {{ order[3] }}

            </p>

            <p>

                <strong>Status:</strong>

                {{ order[6] }}

            </p>


            <!-- STATUS BUTTONS -->

            <div class="status-buttons">

                <a
                href="/update-status/{{ order[0] }}/Packed"
                >

                    <button>

                        Packed 📦

                    </button>

                </a>


                <a
                href="/update-status/{{ order[0] }}/Shipped"
                >

                    <button>

                        Shipped 🚚

                    </button>

                </a>


                <a
                href="/update-status/{{ order[0] }}/Out for Delivery"
                >

                    <button>

                        Out for Delivery 🛵

                    </button>

                </a>


                <a
                href="/update-status/{{ order[0] }}/Delivered"
                >

                    <button>

                        Delivered ✅

                    </button>

                </a>

                <a href="/cancel-order/{{ order[0] }}">

                    <button
                    style="background:red;"
                    >

                        Cancel Order ❌

                    </button>

                </a>            

            </div>

        </div>

        {% endfor %}

    </section>
<script>

window.onload = function() {

    setTimeout(function() {

        window.location.href = "/live-tracking";

    }, 7000);

};

</script>
</body>

</html>